<!--the homepage -->
<div class="flex justify-between py-8 px-2 border-t ">
    <div class="text-3l  flex flex-col lg:flex-row">
    <div class=" bg-black text-white p-2 w-fit">trending now</div>
    <p class="p-2">the top 9 of All-electric Vechile of 2019</p>
    </div>
    <div class=" flex flex-row gap-2">
        <div class="border border-gray-200 p-1 h-fit flex justify-center items-center">
            <i class="fa-solid fa-caret-left"></i>
        </div>
        <div class="border border-gray-200 p-1 h-fit flex justify-center items-center">
            <i class="fa-solid fa-caret-right"></i>
        </div>
    </div>
</div>

<div class="">
    <!--four boxes on the main pages this section is for lg screen only  -->
    <div class="hidden lg:flex w-[100%] h-[70vh] gap-1">

        <!--the first box on the main page -->
        <div class="w-[50%] flex flex-col">
         <div class="h-[60%] bg-blue-600">
            
         </div>
         <div class="h-[40%] bg-gray-300 flex flex-col p-4 flex justify-center">
            <div class=" bg-black text-white p-2 w-fit uppercase text-[10px]"> Social networking</div>
            <h1>Facebook announces dating features similar to Tinder</h1>
            <p>Amr Ali ibrahim</p>
            <p>April 05, 2019</p>
         </div>
       </div>
        <div class="w-[50%] flex flex-col gap-1 ">
            <div class="h-[50%]  relative bg-[url('../Assets/1.jpg')] bg-cover bg-center">

            </div>
            <div class="h-[50%] flex flex-row gap-1">
              <div class="w-[50%]  relative bg-[url('../Assets/1.jpg')] bg-cover bg-center" ></div>
              <div class="w-[50%]  relative bg-[url('../Assets/2.jpg')] bg-cover bg-center" ></div>
            </div>
        </div> 
    </div>


       <!--this style is for md and sm screen-->
       <div class="flex lg:hidden flex-col w-full h-screen gap-2">
        <!-- First Box -->
        <div class="h-[35%] bg-blue-600">
            <div class="h-[30%] bg-blue-600"></div>
            <div class="h-[70%] bg-gray-300 flex flex-col p-4 justify-center">
                <div class="bg-black text-white p-2 w-fit uppercase text-[10px]"> Social networking</div>
                <h1>Facebook announces dating features similar to Tinder</h1>
                <p>Amr Ali Ibrahim</p>
                <p>April 05, 2019</p>
            </div>
        </div>
    
        <!-- Second Box -->
        <div class="h-[21.6%] bg-cover bg-center bg-[url('../Assets/2.jpg')]"></div>
    
        <!-- Third Box -->
        <div class="h-[21.6%] bg-cover bg-center bg-[url('../Assets/1.jpg')]"></div>
    
        <!-- Fourth Box -->
        <div class="h-[21.6%] bg-cover bg-center bg-[url('../Assets/2.jpg')]"></div>
    </div>
    
      
        
      </div>
      
      
    
</div>